 {% extends 'dashboard.html' %}
{% block style %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
{% endblock %}
{% block content %}

  <h1>Edit Item</h1>
  <form method="POST" action="{% url 'edit_item' CartItem.id %}">
    {% csrf_token %}
    <label for="product">Product:</label>
    <input type="text" id="product" name="product" value="{{ CartItem.product }}">
    <br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="{{ CartItem.quantity }}">
    <br>
    <input type="submit" value="Update">
  </form>
{% endblock %}
